#welcomeTitle {
  color:rgb(98, 116, 156);
  text-align:center;
}

p {
  max-width: 550px;
  margin: 10%;
}

#paragraphDiv {
  display: flex;
  justify-content: center;
}

#imageDiv {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 50%;
}

#videoIntro {
  display: flex;
  justify-content: center;
}

#parr {
  display: flex;
  justify-content: right;
}